xml-processor/src/main/xsd/document.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://logistic.edo.com/xml/document"
           xmlns:tns="http://logistic.edo.com/xml/document"
           elementFormDefault="qualified">

    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="content" type="xs:string"/>
                <xs:element name="companyId" type="xs:string"/>
                <xs:element name="createdAt" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>